/*
* @Author: admin
* @Date:   2018-06-20 13:39:01
* @Last Modified by:   admin
* @Last Modified time: 2018-06-20 13:56:28
*/
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, input, textarea, select{margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:0;font-weight:normal;line-height:0}
img{border:0;vertical-align:middle}
li{list-style:none}
em,i{font-style:normal;}
html{width:100%;padding:0;margin:0;font-size:100px;-webkit-text-size-adjust:none;}
body{padding:0;margin:0;font-family:'Microsoft Yahei';font-size:100px;}
a,button,input,optgroup,select,textarea {-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none;border:0;}
input[type=button], input[type=submit], input[type=reset] {appearance:none;-webkit-appearance:none;}
.zg_wrapper{max-width:750px;min-width:320px;margin:0 auto;width:100%;height:100%;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.clearfloat{clear:both;}
.w1000{margin:0 auto;width:96%;}
